
.home-section {
  top: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

  .background{
    height: 100vh;
    width: 100vw;
    display: flex;
    position: absolute;
    margin-top: -25px;
    background-image: url('../../Assets/background.png'), linear-gradient(rgba(0, 0, 0, 0.052), rgba(255, 255, 255, 0.316), rgb(255, 255, 255));
    background-blend-mode: color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .texts {
    margin-top: -10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 1em;
  }
  .greeting {
    font-size: 2em;
    color: #ffffff;
  }
  
  .introduction {
    font-size: 1.2em;
    color: #ffffff;
  }
  
  .profile-picture {
    margin-left: 1em;
    margin-top: -10vh;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }

  #tsparticles {
    min-width: 400px;
    min-height: 250px;
    width: 100vw;
    height: 30vh;
    max-width: 800px;
    max-height: 400px;


    margin-top: -10vh;
    position: absolute;
    border-radius: 15px;
    align-self: center;
    overflow: hidden;
  }