.portfolio-section {
  size: fit-content;
  padding: 2em;
}

.section-title {
  padding-top: 10px;
  font-size: 2em;
  color: black;
}

.projects {
  height: 80%;
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5em;
}

.project {
  border-radius: 5px;
  height: 400px;
  width: 250px;
  margin-bottom: 2em;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: black;
}

.project:hover {
  transform: scale(105%);
  transition: transform 0.5s ease-in-out;
}

.project-title {
  margin-top: 10%;
  font-size: 1.5em;
}

.project-description {
  color: #666;
}
.project-icon-container{
  display: flex;
  margin: auto;
  aspect-ratio: 1/1;
  position: relative;
  align-content: center;
  justify-content: center;
  height: 40%;
  border-radius: 50%;
  background-color: #f4f4f4;
  background-image: linear-gradient(to bottom right, rgba(82, 83, 84, 0.38) 5%, rgba(104, 111, 128, 0.93) 36%, #EEE 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, rgba(82, 83, 84, 0.38) 5%, rgba(104, 111, 128, 0.93) 36%, #EEE 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, rgba(82, 83, 84, 0.38) 5%, rgba(104, 111, 128, 0.93) 36%, #EEE 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, rgba(82, 83, 84, 0.38) 5%, rgba(104, 111, 128, 0.93) 36%, #EEE 50%) top right / 50% 50% no-repeat;
  background-blend-mode: color;
  transform: rotate(45deg);
}
.project-icon {
  transform: rotate(-45deg);
  align-self: center;
  display: flex;
  border-radius: 5px;
  height: 62%;
}

.techStack-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  font-size: 3em;
}