.portfolio-section {
  size: fit-content;
  padding: 0px;
}

.section-title {
  padding-top: 10px;
  font-size: 2em;
  color: black;
}

.projects {
  margin-left: 0px;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5em;
  width: 100vw;
}

.project {
  border-radius: 5px;
  height: 400px;
  width: 250px;
  margin-bottom: 2em;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: black;
  border: 0px solid white;
  margin: 1em 2em 1em 2em;
}

.project:hover {
  transform: scale(105%);
  transition: transform 0.5s ease-in-out;
}

.project-title {
  margin-top: 10%;
  font-size: 1.5em;
  height: 10%;
}

.project-description {
  height: 20%;
  color: #666;
}
.project-icon-container{
  display: flex;
  margin: auto;
  aspect-ratio: 1/1;
  position: relative;
  align-content: center;
  justify-content: center;
  height: 40%;
  border-radius: 50%;
  background-color: #c0c0c0;
}
.project-icon {
  align-self: center;
  display: flex;
  border-radius: 5px;
  height: 60%;
}

.techStack-icons {
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}